<html >
    <head><title></title>
        
    <link href="/lib/bootstrap.css" rel="stylesheet" />
    </head>
    <body>

        <partial name="_navPartial" />
<div class="container">

    @RenderBody()

</div>

    <partial name="_footerPartial" />
    </body>
</html>